* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#E9ECF8;
    min-height: 100vh;
}

header {
    margin-bottom: 2%;
}

.logo-header {
    position: absolute;
    margin-left: 3%;
}

main {
    width: 100%;
    height: 100%;
  
}

.textBoxOne {
    position: absolute;
    margin-top: 5%;
    margin-left:20% ;
    text-align: center;
    align-self: baseline;
    justify-content: center;

}
#encripto {
    background: local;
    border: none;
    resize: none;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;
    
}

::placeholder {
    color:#0A3871;
}


.textBoxTwo {
    position: absolute;
    margin-left: 70%;
    text-align: center;
    align-content: flex-start;
    
}

#none-context{
    display: block;
    position: absolute;
    margin-top: 50%;
    text-align: center;
    align-content: flex-start;

}

#none-context h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    
    margin-bottom: 5%;
    margin-top: 4%;
}
#none-context p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    text-align: center;
    color: #495057;
}

#copy-button {
    display: none;
    position: absolute;
    
    background-color: #FFFFFF;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;

    width: 336px;
    height: 67px;
    right: 25px;
    bottom: 45px;
    transition: 1s all;

}
#copy-button:hover {
    background-color: #E9ECF8;
    cursor: pointer;
    transform: scale(1.01);
    
   
}

#decripto {
    background: #FFFFFF;
    border: none;
    border-radius: 32px;
    resize: none;
    align-content: flex-end;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    width: 400px;
    height: 910px;
    left: 1000px;
    top: 40px;
    padding: 25px;
}


.buttons {
    position: absolute;
    display: block;
    text-align: center;
    
    width: 940px;
    margin: 0 auto;
    top: 83%;
    left: 8%

}

#filtro{
    width: 228px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    margin: 0 0 2% 13%;

    color: #495057;

    opacity: 0.8;
}
#cripto-button {
    background-color: #0A3871;
    color: #FFFFFF;

    border: none;
    border-radius: 24px;

    width: 328px;
    height: 67px;
    margin-right: 10px;
    transition: 1s all;

}
#cripto-button:hover {
    background-color:#072B61;
    cursor: pointer;
    transform: scale(1.01);

}

#decripto-button {
    background-color: #EFF1FA;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;

    width: 328px;
    height: 67px;
    transition: 1s all;

}
#decripto-button:hover {
    background-color: #E9ECF8;
    cursor: pointer;
    transform: scale(1.01);
    
}

@media screen and (max-width: 768px) {

    .logo-header {
        position: relative;
        margin: 5% 0 12% 3%;
    }
    .textBoxOne {
        position: relative;
        width: 100%;
        margin: auto;
        height: 350px;
    }
    #encripto{
        width: 80%;
        height: 320px;
    }
    .buttons{
        position: relative;
        width: 100%;
        left: 0%;
        align-self: center;
    }
    #cripto-button {
        margin-bottom: 25px;
    }
    .textBoxTwo {
        position: relative;
        width: 100%;
        margin: 15% auto;
        min-height: 200px;
        overflow: hidden;
    }
    
    #none-context {
        margin: 5% 0 0 5%; 
        width: 85%;
        align-items: center;
    }
    #none-picture{
        display: none;
    }

    #decripto{
        margin: auto;
        width: 80%;
        height: 200px;
        box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.1), -10px -10px 10px 1px rgba(0, 0, 0, 0.1);
    }
    #copy-button {
        left: 25%;
    }
    }

    @media screen and (max-width: 375px) {

        #copy-button {
            width: 60%;
            bottom: 5%;
            left: 20%;
        }
        
    }

    
